@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap'); /*font-family: 'Montserrat', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.main-page{
     /* background-color: #505050 */
     background-color: #eee;
}
.stack{
    padding: 2em;
    overflow: auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: stretch;
    object-fit: cover;
    padding: 1em;
    gap: 1em;
}

.nested{
    display: grid;
    grid-template-columns: repeat(3, 17% 77%);
    /* grid-template-areas: "sidebar main main"; */
    grid-template-rows: repeat(3, 100px);
    border-radius: 6px;
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    background: snow;
    grid-auto-rows: 80%;
    border: 1px solid #ccc;
    margin: .1rem;
}
.nested:hover{
    box-shadow: 0 1px 0px 0px rgba(0,0,0,0.2);
}
.text{
    padding: 1px 2px 15px 15px;
}
.text > h3{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #177FAD;
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid #dfdfdf;
}

.text > p{
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.request-button{
    background: snow;
    border-color: black;
    color: black;
    padding: 10px;
    width: 100px;
    /*border-radius: 3px;*/
}

.request-button:focus{
    border-color: rgb(85, 85, 165);
}
.request-button:hover{
    background-color: black;
    color: white;
    transition: all .3s ease;
}
.request-button:active{
    top: 2px;
}

.readmore{
    background: snow;
    border-color: black;
    color: black;
    padding: 10px;
    width: 100px;
    /*border-radius: 3px;*/
}

.readmore:focus{
    border-color: rgb(85, 85, 165);
}
.readmore:hover{
    background-color: black;
    color: white;
    transition: all .3s ease;
}
.readmore:active{
    top: 2px;
}


.image{
    max-width: 100%;
    max-height: 42%;
    min-width: 0%;
    min-height: 0%;
    border: white;
    grid-auto-rows: 70px;
    padding: 1em;
}
